@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;700&display=swap");

/* font-family: 'Lexend Deca', sans-serif; */
/* crvena: rgba(230, 47, 68, 1.0); */
/* crna: rgba(44, 31, 32, 1.0); */

/* CSS BOILER ----------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  color: #000;
}
body {
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}
img {
  border: none;
  max-width: 100%;
}
.outline {
  outline: 1px solid red;
}
/* TYPO STYLES ---------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}
p,
a {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}
.red-accent {
  color: rgba(230, 47, 68, 1);
}
.dark-accent {
  color: rgba(44, 31, 32, 1);
}
/* BUTTON STYLES -------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

/* LAYOUT STYLES -------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
article {
  margin-bottom: 6rem;
}
